
.main{
            height: 100vh;
            background-color: gray;
}
.Outer{
            border: 1px solid transparent;
            background-color:rgb(238, 235, 235);
            border-radius: 5px;
}
.info{
            border: 1px solid lightgray; 
            background-color: white;
            border-radius: 5px;
}
button{
            border: none;
}
.detail{
            padding: 0 150px;
            border-radius: 15px;
            background-color: darkslategrey;
            color: white;
}
.signin{
            color: rgb(75, 206, 75);
            font-weight: bold;
            font-size:larger;
}
.btn1{
            background-color: rgb(75, 206, 75);
            border: none;
            border-radius: 5px;
            height: 40px;
            color: white;
} 
:input-placeholder{
            color: white;
}